body {
    background-color: rgb(50, 150, 150);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15;
    margin: 0;
}

.card {
    width: 500px;
    height: 750px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(230, 98, 98);
    border-radius: 15px;
    padding: 25px;
}

.card_photo {
    display: block;
    width: 450px;
    height: 450px;
    margin: 25px auto;
    border-radius: 15px;
}

.card_title {
    font-size: 25px;
    text-align: center;
    color:#532dc7;
}